.cart-dropdown {
  position: absolute;
  height: 340px;
  width: 240px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  top: 90px;
  right: 40px;
  z-index: 5;
  background-color: white;

  .cart-items {
    height: 240px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
  }

  button {
    margin-top: auto;
  }
}
