.cart-dropdown {
  position: absolute;
  height: 340px;
  width: 240px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  top: 90px;
  right: 40px;
  z-index: 5;
  background-color: white;

  .empty-message {
    font-size: 15px;
    margin: 50px auto;
  }
  .cart-items {
    height: 240px;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  button {
    margin-top: 15px;
  }
}
