.customButton {
  min-width: 170px;
  width: auto;
  height: 50px;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  padding: 0 35px 0 35px;
  line-height: 50px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;

  &:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
  }
}
